.tempust {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    width: 22rem;
    overflow: auto;
    transform: translateZ(0deg);

    background-color: #eeeeee;
}
.tempust .day,
.tempust .weekday {
    display: block;
    width: 14.2857142857%;
    padding: 1rem;
    box-sizing: border-box;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
}

.tempust .day {
    position: relative;
    cursor: pointer;
}

.tempust .day[data-event]::before {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 1rem 1rem 0;
    border-color: transparent #bdbdbd transparent transparent;
    content: '';
}

.tempust .inactive {
    color: #bdbdbd;
}

.tempust .month {
    width: 70%;
}

.tempust .month,
.tempust .year {
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    float: left;

    font-size: 18px;
    background-color: #fafafa;
    border: 0;
    outline: 0;
    text-align: center;
}

.tempust .year {
    width: 30%;
}

.tempust .event {
    display: none;
    background-color: #666666;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0.5rem;
    float: left;
    width: 100%;
}
