@import url("contact.css");
@import url("evetsform.css");
@import url("profile.css");
@import url("profile-2.css");
@font-face {
    font-family: 'Raleway-Medium';
    src:url(../custom-fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src:url(../custom-fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src:url(../custom-fonts/Raleway-SemiBold.ttf)
}

body{
    color: #818181;
    font-family: 'Raleway-Medium';
}
a{
    font-family: 'Raleway-Medium';
    text-decoration: none !important;
    color: #818181;
}
button{ cursor: pointer}
.PaddingTopBtm{
    padding: 15px 0 15px 0;
}
.TopMost{
    background: #1d355f;
}
.MembershipBtn{
    font-family: 'Raleway-SemiBold';
    background: #bd1f2f;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff !important;
}
.MembershipBtn a{
    color: #ffffff !important;
}

.MembershipBtn:hover{
    background: #bd1f2f;
    color: #ffffff !important;
}
.MemberLogin, .TopRightPhone{
    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff !important;
}
.MemberLogin a{
    color: #ffffff !important;

}
.MemberLogin a:hover{
    color: #ffffff !important;

}
.usericonsize{
    font-size: 18px !important;
    padding-right: 10px;
}
.MySearchBtn{
    background: #bd1f2f !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    width: 40px;
}
.TopMostSearch{
    padding-top: 7px;
}
.SiteHeader{
	background-color: #ffffff;
    padding: 30px 0 30px 0;
    border-bottom: #bd1f2f 1px solid;
}
.input-group{
    z-index: -0 !important;
}


/******************* BANNER CSS ****************************/

.BannerText h1{
    font-family: 'Raleway-ExtraBold';
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
}
.BannerText h2{
    font-family: 'Raleway-Medium';
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    line-height: 1.5;
}
.BannerText{
    position: absolute;
    top: 30%;
}
.LeftArea{
    background: #f8f8f8;
}
.RightArea{

}
.MainArea{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Heading h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #1f3760;
    padding-top: 30px;
}
.SideHeading h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    background: #cd2c47;
    text-transform: uppercase;
    color: #ffffff;
    padding: 30px;
    margin-bottom: 0 !important;
}
.SideCalender{
    background: #ffffff;
    border: 1px solid #f3f3f3;
}
.paddingRightLeft{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.Event1{
    background: #efefef;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.EventText h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    text-transform: capitalize;
    color: #1f3760;
}
.EventText h4{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    text-transform: uppercase;
    color: #cd2c47;
    line-height: 1.8;
}
.EventText p{
    font-family: 'Raleway-Medium';
    font-size: 14px;
    text-transform: capitalize;
    color: #666666;
    margin-bottom: 25px;
}
.EventDetail a{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    background: #1f3760;
    padding: 10px;
}
.EventDetail a:hover{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    background: #cd2c47;
    padding: 10px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.SocialLinksEvents{
    font-size: 22px;
    color: #c5c5c5;
}
.SocialLinksEvents a{
    color: #c5c5c5;
}
.SocialLinksEvents a:hover{
    color: #cd2c47;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.tempust{
    width: 100% !important;
    font-family: Raleway-Medium !important;
    font-size: 14px !important;
}
.tempust .day[data-event]::before {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1rem 1rem 0;
    border-color: transparent #cd2c47 transparent transparent !important;
    content: '';
}
.tempust .event{
    background-color: #32486e !important;
}
.UpcomingEvent1{
    background: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.UpcomingEvent1 h2  {
    font-family: 'Raleway-ExtraBold';
    font-size: 16px;
    color: #666666;
}
.UpcomingEvent1 h3, .UpcomingEvent1 p  {
    font-family: 'Raleway-Medium';
    font-size: 12px;
    color: #666666;
}
.UpcomingEvent1 p{
    margin-bottom: 0 !important;
}
.footerarea{
    background:#1d355f;
}
.footerwidgets{
    padding-top: 50px;
    padding-bottom: 50px;
}
.column1 h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
.column1 p{
    font-family: 'Raleway-Medium';
    font-size: 16px;
    color: #ffffff;
}
.socialmedia a{
    font-size: 30px;
    line-height: 2;
    color: #ffffff;
}
.socialmedia a:hover{
    font-size: 30px;
    line-height: 2;
    color: #ffffff;
}
.CopyR p{
    font-family: 'Raleway-Medium';
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    padding: 30px;
}
.clientsbg{
    background: #f9f9f9;
}
.clearout {
    height:20px;
    clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background:#cd2c47;
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<";
    
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
.Heading h4{
    font-family: 'Raleway-Medium';
    font-size: 20px;
    color: #cd2c47;
}
.EventDetail{
    padding-top: 30px;
}
.EventDetailText p{
    font-family:'Raleway-Medium' ;
    font-size: 16px;
    color: #636363;
    line-height: 2;
}
.BoldText{
    font-family: Raleway-ExtraBold;
    font-weight: bolder !important;
    color: #000000;
}
.ViewMap a{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    background: #cd2c47;
    padding: 10px;
}
.ViewMap a:hover{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    background: #1f3760;
    padding: 10px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.RegisterEventbtn{
    width: 100% !important;
    display: flex;
    text-align: center;
}
.RegisterEventbtn a{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    background: #cd2c47;
    padding: 10px;
    width: 100%;
}
.RegisterEventbtn a:hover{
    color: #ffffff;
    background: #1f3760;
    width: 100%;
}
.DescriptionHeading h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 22px;
    text-transform: capitalize;
    color: #32486e;
    padding-top: 30px;
}
.DescriptionHeading h4{
    font-family: 'Raleway-Medium';
    font-size: 15px;
    text-transform: capitalize;
    color: #232323;
}
.DescriptionHeading p{
    font-family: 'Raleway-Medium';
    font-size: 15px;
    text-transform: capitalize;
    color: #232323;
    padding-top: 20px;
    line-height: 2;
}
.JointEvent , .JointEvent h2{
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: capitalize;
    color: #cd2c47;
    text-align: center;
    line-height: 1.8;
}
.step1{
    background: #cd2c47;
    text-align: center;
}
.step1 h1{
    font-family: Raleway-ExtraBold;
    font-size: 25px;
    color:#ffffff;
    margin-bottom: 0;
}
.step2{
    background: #1d355f;
    text-align: center;
    padding: 15px;
}
.step2 h1{
    font-family: Raleway-ExtraBold;
    font-size: 25px;
    color:#ffffff;
    margin-bottom: 0;
}
.PaddingRL0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.PaddingRL {
    padding-left: 10px;
    padding-right: 10px;
}
.paddingtop20px{
    padding-top: 20px !important;
}
.SiteText{
    font-family: Raleway-Medium;
    font-size: 14px;
    padding-top: 10px;
    color: #666666;
    line-height: 1.8;

}
.committee h5, .modal h4{
    font-family: Raleway-SemiBold;
    font-size: 18px;
    color: #666666;
}
.committee h6{
    font-family: Raleway-SemiBold;
    font-size: 18px;
    color: #cd2c47;
}
.committee img{
    padding-top: 15px;
}
a:focus{
    outline: none !important;
}

/* form */
body{
    background:#efefef;
}
.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
    padding:20px;
    border-top:3px solid#3e4043;
}
.innter-form{
    padding-top:20px;
}
.final-login li{
    width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
    color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
    border-radius: none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius: none !important;
    text-transform:uppercase;
    font-size:16px;
}

.social-login{
    text-align:center;
    font-size:12px;
}
.social-login p{
    margin:15px 0;
}
.social-login ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.social-login ul li{
    width:33%;
    float:left;
    clear:fix;
}
.social-login ul li a{
    font-size:13px;
    color:#fff;
    text-decoration:none;
    padding:10px 0;
    display:block;
}
.social-login ul li:nth-child(1) a{
    background:#3b5998;
}
.social-login ul li:nth-child(2) a{
    background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
    background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
    padding:10px;
    border:1px solid#ccc;
    outline:none;
    width:100%;
    margin:8px 0;

}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
    background:#e64b3b;
    color:#fff;
    padding:10px 25px;
    font-size:14px;
    margin-top:5px;
}
.sa-innate-form input[type=submit]:hover{
    border:1px solid#db3b2b;
    background:#db3b2b;
    color:#fff;
}

.sa-innate-form button{
    border:1px solid#e64b3b;
    background:#e64b3b;
    color:#fff;
    padding:10px 25px;
    font-size:14px;
    margin-top:5px;
}
.sa-innate-form button:hover{
    border:1px solid#db3b2b;
    background:#db3b2b;
    color:#fff;
}
.sa-innate-form p{
    font-size:13px;
    padding-top:10px;
}
.chairmanmessage{
    background: #bd1f2f;
}
.CMessage h2{
    font-family: Raleway-ExtraBold;
    font-size: 25px;
    color: #ffffff;
    line-height: 1.8;
    text-transform: uppercase;
}
.mainbanner{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #666666;
    padding: 30px;
    text-align: left !important;
}
.mainbanner h3{
    font-family: Raleway-ExtraBold;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.mainbanner p{
    font-family: Raleway-Medium;
    font-size: 17px;
    color: #ffffff;
    text-transform: capitalize;
}
.carousel-caption{
    left: auto !important;
    bottom: 50px !important;
}
.CMessage{
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.8;
}





/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #1d355f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cd2c47;
    color: #ffffff;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Add an active class to highlight the current page */
.active {
    background-color: transparent;
    color: #1d355f;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/**********************************************  Off Canvas MENU  ************************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d355f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    font-family: 'Raleway-SemiBold';
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.container-fluid{
    padding-right: 0 !important;
    padding-left: 0!important;
}
.carousel-item img{
    width: 100%;
    height: 50%;
}
.bannerBG{
    background-image: url("../images/slide1-bg.jpg");
}



@media screen and (max-width: 1199px) {
    .BannerText h1{
        font-size: 36px;
    }
}
@media screen and (max-width: 991px) {
    .BannerText h1{
        font-size: 26px;
    }
    .BannerText h2{
        font-size: 15px;
    }
    .mainbanner{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .BannerText h1{
        font-size: 19px;
    }
    .BannerText h2{
        font-size: 13px;
    }
    .Event1, .footerwidgets, .LeftArea{
        text-align: center;
    }
    .SocialLinksEvents{
        display: none;
    }
    .EventText{
        margin-top: 15px;
    }
}
@media screen and (max-width: 514px) {
    .BannerText h1{
        font-size: 16px;
    }
    .BannerText h2{
        font-size: 10px;
    }
}
@media screen and (max-width: 437px) {
    .BannerText h1{
        font-size: 11px;
    }
    .BannerText h2{
        font-size: 8px;
    }
}

.EventSwiper{

}
.Slides h4{
    font-family: Raleway-SemiBold;
    font-size: 20px;
    color: #1d355f;
    padding-top: 20px;

}
.Slides p{
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #666666;
    padding-top: 10px;

}
.Slidebtn{
    font-family: Raleway-Medium;
    font-size: 16px;
    background:#1d355f ;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #ffffff !important;
}
.Slidebtn a{
    font-family: Raleway-Medium;
    font-size: 16px;
    background:#1d355f ;
    color: #ffffff !important;
}
.Slidebtn a:hover{
    font-family: Raleway-Medium;
    font-size: 16px;
    background:#1d355f ;
    color: #ffffff !important;
}
.controls-top{
    padding-bottom: 10px;
}
.controls-top a:hover{
    color: #bd1f2f !important;
}
.controls-top a{
    color: #1d355f !important;
}
.News{
    padding-top: 20px;
    padding-bottom: 30px;
}
.cmty{
    background: #f9f9f9;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.Slidescmty img{
    border-radius: 50% !important;
}
.Slidescmty h3{
     font-family: Raleway-SemiBold;
     font-size: 20px;
     color: #bd1f2f;
     padding-top: 10px;

 }
.Slidescmty h4{
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #1d355f;

}
.socialfeeds{
    background: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 30px;
}
.fbplugin h2{
    font-family: Raleway-ExtraBold;
    font-size: 25px;
    color: #1d355f;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.loginFormstyle{
    background: #fff;
    margin-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.margin-right-5{
    margin-right: 5px !important;
}

.border_left{
    border-left: 1px solid #DDDDDD;
}

#event_map{
    margin-top: 50px;
}

.social_feeds{
    height: 550px;
    clear: both;
    overflow: auto;
    padding-top: 25px;
}

.committee_staff_image{
    width: 160px;
    height: 210px !important;
}

.name_and_postion {
    height: 100px;
}

.memberContactIcon {
    margin-right: 10px;
    font-size: 20px !important;
}


.PaddingTopBtm30px{
    padding-top: 30px;
    padding-bottom: 30px;
}
.content p{
    font-family: Raleway-Medium;
    font-size: 14px;
    padding-top: 10px;
    color: #666666;
    line-height: 1.8;
}
.blueAlert{
    background: #1d355f;
    padding: 15px;
    margin-top: 50px;
}
.blueAlert h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
}
.blueAlert p{
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom:0;
}
.type-bg{
    background: #dbd9d9;
    padding: 10px;
}
.MembershipTypes{
    padding-top: 25px;
    padding-bottom: 25px;
}
.TypeHeading{
    padding: 20px;
    background: #432b50; /* Old browsers */
    background: -moz-linear-gradient(left, #432b50 0%, #972339 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #432b50 0%,#972339 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #432b50 0%,#972339 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432b50', endColorstr='#972339',GradientType=1 ); /* IE6-9 */
}
.TypeHeading h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom:0;
}
.TypeHeading h3{
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff !important;
    line-height: 1.8;
    margin-bottom:0;
}
.Type .table thead th{
    text-align: left !important;
    background: #e9e9e9 !important;
    color: #1d355f;
    font-family: Raleway-SemiBold;
    font-size: 14px;
}
.Type .table-bordered td{
    border: 1px solid #cac9c3 !important;
    background: #e9e9e9 !important;
    font-family: Raleway-Medium;
    font-size: 13px;
    color: #3c3c3c !important;
}
.Type .table td, .Type .table th{
    padding-left: 20px !important;
}
.Type .table-bordered td:nth-child(2){
    color: #bd1f2f !important;
}
ol.numbering {
    padding-left: 13px;
    padding-top: 10px;
    line-height: 1.8;
    font-style: italic;
    font-size: 12px;
    color: #bd1f2f;
}
.fullbtn a{
    width: 100%;
    background: #bd1f2f;
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff;
    border:0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}
.fullbtn a:hover{
    background: #1d355f;
    webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.table{
    margin-bottom: 5px !important;
}
h1 {
    margin: 0 !important;
}
.editprofilebtn{
    padding-top: 20px !important;
}
.editprofilebtn a{
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #ffffff;

}
.editprofilebtn a:hover{
    color: #ffffff;

}
.RedHeading{
    background: #bd1f2f;
    display: inline-block;
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    margin-top: 25px;
}
.RedHeading h4, .RedHeading h2{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0 !important;
}
.RedHeading h4 a, .RedHeading h2 a{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0 !important;
}
.RedHeading h4{
    text-decoration: underline;
}
.darkbg{
    background: #e2e2e2;
}
.profile{
    font-family: Raleway-Medium;
    font-size: 15px;
}
.profile h2{
    font-size: 20px !important;
    color: #2c2d57 !important;
}
.profile h3{
    font-family: Raleway-Medium !important;
    font-size: 15px !important;
    color: #2c2d57 !important;
    text-transform: none !important;
    padding-top: 5px !important;
}
.directory{
    font-family: Raleway-Medium;
    font-size: 15px;
}
.directory h2{
    font-size: 20px !important;
    color: #2c2d57 !important;
}
.directory h3{
    font-family: Raleway-Medium !important;
    font-size: 15px !important;
    color: #4b4b4b !important;
    line-height: 1.5;
    text-transform: none !important;
    padding-top: 5px !important;
    padding-bottom: 10px;
}
.profile p{
    line-height: 1.8;
    padding-top: 15px;
}
.page-item:last-child, .page-link{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius:0 !important;
}
.page-item:first-child, .page-link{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius:0 !important;
}
.page-link{
    background-color: #bd1f2f !important;
    color: #ffffff !important;
    border:1px solid #f8f8f8 !important;
    padding: 6px 10px !important;
}
.page-link:hover{
    background-color: #2c2d57 !important;
}
.directorymember{
    background: #e2e2e2 !important;
    padding: 10px;
    margin-bottom: 25px;
}
.whiteline{
    border-top:1px solid #ffffff !important;
}
.topnav1{
    font-family: Raleway-Medium;
    font-size: 16px;
}
.topnav1 a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.topnav1 a:hover {
    background-color: #ffffff;
    color: #000 !important;
    webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.table-striped thead th {
    text-align: left !important;
    color: #ffffff;
    background-color:#bd1f2f !important ;
}
.invoicelink a{
    color: #2c2d57 !important;
}
.invoicelink a:hover{
    color: #bd1f2f !important;
    text-decoration: underline !important;
}
.table-responsive{
    display: table !important;
}
.offer-bg1{
    background-color:#bd1f2f !important ;
    padding: 20px;
}
.offer-bg2{
    background-color:#2c2d57 !important ;
    padding: 20px;
}
.offer h2 {
    font-family: Raleway-Medium !important;
    font-size: 18px !important;
    color: #ffffff !important;
    padding-top: 15px;
}


@media screen and (max-width: 767px) {
    .Type .table thead th, .Tcenter, .topnav1{
        text-align: center !important;
    }
    .BannerText {
        padding-top: 0 !important;
    }
    .editprofilebtn{
        padding-top: 0 !important;
        padding-bottom: 25px;
    }
    .topnav1 a{
        float: none !important;
    }
    .table-responsive{
        display: block !important;
    }
}


/********************************************************/
#menu {
    color: #eee
}

#menu ul,
#menu li {
    margin: 0 0;
    padding: 0 0;
    list-style: none
}

#menu ul {
    height: 35px
}

#menu li {
    float: left;
    display: inline;
    position: relative;
    font-family: Raleway-Medium;
    font-size: 16px;
    text-transform: uppercase;
}

#menu li:first-child {
    border-left: none
}

#menu a {
    display: block;
    line-height: 35px;
    padding: 0 14px;
    text-decoration: none;
    color: #1d355f;
}

#menu li:hover > a,
#menu li a:hover {
    background: #bd1f2f;
    color: #ffffff !important;
    webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

#menu input {
    display: none;
    margin: 0 0;
    padding: 0 0;
    width: 80px;
    height: 35px;
    opacity: 0;
    cursor: pointer
}

#menu label {
    font: bold 30px Arial;
    display: none;
    width: 35px;
    height: 36px;
    line-height: 36px;
    text-align: center
}

#menu label span {
    font-size: 12px;
    position: absolute;
    left: 35px
}

#menu ul.menus {
    height: auto;
    width: 180px;
    background: #bd1f2f;
    position: absolute;
    z-index: 99;
    display: none;
    border: 0;
}

#menu ul.menus li {
    display: block;
    width: 100%;
    font-family: Raleway-Medium;
    font-size: 12px;
    text-transform: none;
}

#menu li:hover ul.menus {
    display: block
}

#menu a.home {
}

#menu a.prett {
    padding: 0 27px 0 14px
}

#menu a.prett::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: #1d355f transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 9px
}

#menu ul.menus a:hover {
    background: #1d355f;
}

#menu ul.menus .submenu {
    display: none;
    position: absolute;
    left: 180px;
    background: #bd1f2f;
    top: 0;
    width: 180px;
}

#menu ul.menus .submenu li {
    background: #bd1f2f;
    color: #ffffff !important;
}
.submenu li a, ul.menus li a{
    color: #ffffff !important;
}
#menu ul.menus .has-submenu:hover .submenu {
    display: block;
}

.colorAdd{
    color: #228B22 !important;
}

.colorRem{
    color: #bd1f2f !important;
}


.bbg_ccms_banner_img{
    background: no-repeat;
    height: 400px;
    background-size: cover;
}
.landing_page_slider_alligned{
    right: 1% !important;
}

#fixedTopNav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999999999999;
    clear: both;
}