.PaddingTopBtm30px{
    padding-top: 30px;
    padding-bottom: 30px;
}
.content p{
    font-family: Raleway-Medium;
    font-size: 14px;
    padding-top: 10px;
    color: #666666;
    line-height: 1.8;
}
.blueAlert{
    background: #1d355f;
    padding: 15px;
    margin-top: 50px;
}
.blueAlert h3{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
}
.blueAlert p{
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom:0;
}
.type-bg{
    background: #dbd9d9;
    padding: 10px;
}
.MembershipTypes{
    padding-top: 25px;
    padding-bottom: 25px;
}
.TypeHeading{
    padding: 20px;
    background: #432b50; /* Old browsers */
    background: -moz-linear-gradient(left, #432b50 0%, #972339 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #432b50 0%,#972339 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #432b50 0%,#972339 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432b50', endColorstr='#972339',GradientType=1 ); /* IE6-9 */
}
.TypeHeading h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom:0;
}
.TypeHeading h3{
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff !important;
    line-height: 1.8;
    margin-bottom:0;
}

.Type .table thead th{
    text-align: left !important;
    background: #e9e9e9 !important;
    color: #1d355f;
    font-family: Raleway-SemiBold;
    font-size: 14px;
}
.Type .table-bordered td{
    border: 1px solid #cac9c3 !important;
    background: #e9e9e9 !important;
    font-family: Raleway-Medium;
    font-size: 13px;
    color: #3c3c3c !important;
}
.Type .table td, .Type .table th{
    padding-left: 20px !important;
}
.Type .table-bordered td:nth-child(2){
    color: #bd1f2f !important;
}

ol.numbering {
    padding-left: 13px;
    padding-top: 10px;
    line-height: 1.8;
    font-style: italic;
    font-size: 12px;
    color: #bd1f2f;
}
.fullbtn a{
    width: 100%;
    background: #bd1f2f;
    font-family: Raleway-Medium;
    font-size: 14px;
    color: #ffffff;
    border:0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}
.fullbtn a:hover{
    background: #1d355f;
    webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.table{
    margin-bottom: 5px !important;
}
h1 {
    margin: 0 !important;
}
.editprofilebtn{
    padding-top: 20px !important;
}
.editprofilebtn a{
    font-family: Raleway-Medium;
    font-size: 16px;
    color: #ffffff;

}
.editprofilebtn a:hover{
    color: #ffffff;

}
.RedHeading{
    background: #bd1f2f;
    display: inline-block;
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #ffffff;
    margin-top: 25px;
}
.RedHeading h4, .RedHeading h2{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0 !important;
}
.RedHeading h4 a, .RedHeading h2 a{
    font-family: Raleway-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0 !important;
}
.RedHeading h4{
    text-decoration: underline;
}
.darkbg{
    background: #e2e2e2;
}
.profile{
    font-family: Raleway-Medium;
    font-size: 15px;
}
.profile h2{
    font-size: 20px !important;
    color: #2c2d57 !important;
}
.profile h3{
    font-family: Raleway-Medium !important;
    font-size: 15px !important;
    color: #2c2d57 !important;
    text-transform: none !important;
    padding-top: 5px !important;
}
.directory{
    font-family: Raleway-Medium;
    font-size: 15px;
}
.directory h2{
    font-size: 20px !important;
    color: #2c2d57 !important;
}
.directory h3{
    font-family: Raleway-Medium !important;
    font-size: 15px !important;
    color: #4b4b4b !important;
    line-height: 1.5;
    text-transform: none !important;
    padding-top: 5px !important;
    padding-bottom: 10px;
}
.profile p{
    line-height: 1.8;
    padding-top: 15px;
}
.page-item:last-child, .page-link{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius:0 !important;
}
.page-item:first-child, .page-link{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius:0 !important;
}
.page-link{
    background-color: #bd1f2f !important;
    color: #ffffff !important;
    border:1px solid #f8f8f8 !important;
    padding: 6px 10px !important;
}
.page-link:hover{
    background-color: #2c2d57 !important;
}
.directorymember{
    background: #e2e2e2 !important;
    padding: 10px;
    margin-bottom: 25px;
}
.whiteline{
    border-top:1px solid #ffffff !important;
}
.topnav1{
    font-family: Raleway-Medium;
    font-size: 16px;
}
.topnav1 a {
     float: right;
     display: block;
     color: #ffffff;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 16px;
 }
.topnav1 a:hover {
    background-color: #ffffff;
    color: #000 !important;
    webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 767px) {
    .Type .table thead th, .Tcenter, .topnav1{
        text-align: center !important;
    }
    .BannerText {
        padding-top: 0 !important;
    }
    .editprofilebtn{
        padding-top: 0 !important;
        padding-bottom: 25px;
    }
    .topnav1 a{
        float: none !important;
    }
}